extends ../../layout/layout

block content
  section(class='container')
    .content-header
      h2(class='title-page') 라이더 관리
      ul(class='bread-crumb')
        li
          a(href='/')
            i(class='fa fa-home')
        li 라이더 관리
        li 라이더 목록
    .contents
      form(method="get" id="listForm")
        input(type="hidden" name="page" id="page" value=query.page)
        fieldset(class="search-field")
          legend 라이더 검색
          div(class="row")
            div(class="col")
              label(for="keyword") 텍스트 검색
                span(style="font-size: x-small") 지점명 검색
                  div(class="input-group-select")
                    input(type="text", id="keyword", name="keyword", placeholder="검색어 입력", value=query.keyword)
          div(class="btn-group")
            button#searchBtn( type="button" class="btn btn-success-md btn-search submit" onclick='searchUser()') 검색
    div(class="contents")
      div(class="table-wrap")
        div(class="table-option")
          div(class="right")
            .btn-group
              button(type="button" class="btn btn-primary-sm delete" onclick="goToUpdateUser()") 라이더 수정
              button(type="button" class="btn btn-success-sm write" onclick="goToSaveUser()") 라이더 등록
    
      table.table
        thead
          tr
            th(scope="col")
              label(class="checkbox")
              input(type="checkbox" class="chk chkM")
            th(scope="col") 이름
            th(scope="col") 전화번호
            th(scope="col") 차량번호
            th(scope="col") 오일양
            th(scope="col") 등록일
            th(scope="col") 삭제
        tbody
          each item in userList.shopList
            tr
              td
                input#checkedUser(type="checkbox", name=`${item.name}`)
              td #{item.name}
              td #{item.phoneNumber}
              td #{item.BikeNumber[0].bikeNumber}
              td #{item.oilL}
              td #{item.regDt}
              td
                button(class='btn btn-primary-sm',onclick=`deleteUser(${item.userKey})`) 삭제

      +pageing(query.page, query.pageSize, userList.totalCount, 'listForm')


      
block scripts
  include ./scripts/list_script.pug
